.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.priceContain {
  width: 90%;
  display: flex;
  justify-content: center;
}

.pricing {
  width: 100%;
  max-width: 442px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  text-align: center;
}

.freeLabel {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #c9c9c9;
  border-radius: 50px;
  height: 48px;
  width: 100%;
  max-width: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.pricingBestValue {
  width: 90%;
  max-width: 442px;

  background: #ffffff;
  border: 1px solid #fe8900;
  box-shadow: 0px 4px 15px #ffc785;
  border-radius: 20px;
  text-align: center;
}
.header {
  height: 104px;
  background: #fe8900;
  border: 1px solid #fe8900;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h3 {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 60px;
  color: #000000;
}

.promo {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  padding: 30px 0;
}
.promo span {
  color: #6da100;
}

.pricingBestValue ul {
  padding: 0;
  margin: 30px 0;
  text-align: left;
  list-style: none;
}

.pricingBestValue ul li {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #707070;
  width: 100%;
  max-width: 337px;
  margin: auto;
}

.pricingBestValue ul li path {
  background: #588200;
  color: #588200;
}

.price {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #000000;
}

.price span {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #131d00;
}

.save {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #fe4238;
  padding: 10px 0;
}

.btnBest {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.09em;
  color: #131d00;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ffc785 0%, #fe8900 100%);
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 10px 50px;
}

.btn {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.09em;
  color: #fe8900;
  box-sizing: border-box;
  border: 3px solid #fe8900;
  border-radius: 50px;
  padding: 10px 50px;
}

.secure {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-transform: capitalize;
  color: #000000;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 38px;
  color: #000000;
  padding: 10px 0;
}

.discount span {
  font-weight: 400;
  font-size: 33px;
  line-height: 38px;
  text-decoration-line: line-through;
  color: #7c7c7c;
}

/* Mobile */
@media (max-width: 780px) {
  .container {
    flex-direction: column;
    padding-top: 0;
  }

  .pricingBestValue {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .container img {
    width: 90%;
  }
}

@media (max-width: 393px) {
}
