.testimonial {
  display: flex;
  width: 530px;
  text-align: left;
  margin: auto;
}

.media {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.09em;

  color: #7a7a7a;
}

.content {
  margin-left: 17px;
}

.author {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.09em;
  color: #000000;
  padding-bottom: 5px;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.09em;
  color: #000000;
  padding: 5px 0;
}

.description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.09em;
  color: #000000;
}

@media (max-width: 479px) {
  .testimonial {
    flex-direction: column;
    width: 253px;
    margin: auto;
  }
}
