.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh; */
}

.brands {
  background: #e1e1e1;
  display: flex;
  justify-content: space-around;
}

.emotions {
  height: 900px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("/images/emotions.png");
  background-size: cover;
  margin: 10px 0 100px 0;
  background-position: center;
  position: relative;
}

.emotions1 {
  height: 900px;
  background-repeat: no-repeat;
  background-image: url("/images/emotions1.png");
  background-size: cover;
  margin: 10px 0 100px 0;
  background-position: center;
  position: relative;
}

.discount {
  width: 90%;
  max-width: 1121px;
  margin: auto;
  padding: 50px;
  display: flex;
  align-items: center;
}

.discountContent {
  width: 810px;
}

.discount h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  position: relative;
  left: -100px;
}

.discount p {
  font-family: Ubuntu;
  font-size: 33px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;
}

.discount .icons {
  width: 550px;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 100%;
  max-width: 1370px;
  border: 1px solid #9a9a9a;
  margin: auto;
}
.testimonials {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background: #ececec;
  margin: auto;
  text-align: center;
  position: relative;
}

.testimonialsCounts {
  width: 90%;
  max-width: 1370px;
  border-bottom: 1px solid #9a9a9a;
  margin: 10px auto 44px auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.testimonialList {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.lessThan {
  position: absolute;
  font-size: 60px;
  top: 200px;
  left: 20px;
}

.greaterThan {
  position: absolute;
  font-size: 60px;
  right: 20px;
  top: 200px;
}

.faqSection {
  text-align: center;
  background: #ffe7ca;
  padding: 20px 0 50px 0;
}

.faqSection h3 {
  font-family: Audiowide;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.09em;
  text-align: center;
}

.faqList {
  width: 90%;
  max-width: 1121px;
  background: #000000;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.09em;
  margin: 11px auto;
  padding: 10px;
}

.faqHeader {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.faqLeft {
  display: flex;
}
.faqLeft img {
  margin-right: 17px;
}
/* 
.btnContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
} */

.faqSection .btnContainer {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emotions .heading2 {
  width: 350px;
  margin: auto;

  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.emotions .btnContainer .paragraph {
  width: 90%;
  max-width: 1093px;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 10px;
}

.emotions .btnContainer {
  width: 100%;
  position: absolute;
  bottom: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emotions1 .btnContainer {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

/* Mobile */
@media (max-width: 900px) {
  .emotions {
    height: 700px;
    background-repeat: no-repeat;
    background-image: url("/images/emotions.png");
    background-size: contain;
    background-position: center;
  }

  .emotions .btnContainer .paragraph {
    font-size: 18px;
  }
  .emotions1 {
    height: 600px;
  }
  .emotions1 .btnContainer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: unset;
  }

  .discount {
    width: 90%;
    padding: 50px 0;
  }

  .discountContent {
    width: 600px;
  }

  .discount h2 {
    font-size: 30px;
    left: -100px;
  }

  .discount p {
    font-size: 22px;
  }

  .discount .icons {
    width: 80%;
    max-width: 550px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .brands {
    width: 100%;
    flex-wrap: wrap;
  }

  .discount img {
    width: 200px;
    height: 200px;
  }

  .discountContent img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 479px) {
  .discount img {
    width: 90px;
    height: 90px;
  }

  .discountContent img {
    width: 40px;
    height: 40px;
  }
  .discount h2 {
    font-size: 18px;
    left: -50px;
    line-height: unset;
  }

  .discount p {
    font-size: 14px;
    line-height: unset;
    padding: 10px;
  }

  .emotions {
    height: 759px;
    background-image: url("/images/emotions-mobile.png");
  }

  .emotions .heading2 {
    display: none;
  }
  .emotions .paragraph {
    display: none;
  }

  .emotions1 {
    height: 760px;
    background-image: url("/images/emotions-mobile1.png");
  }

  .faqSection h3 {
    text-align: left;
    font-family: Audiowide;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.09em;
    text-align: center;
  }

  .faqList {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: unset;
  }

  .faqLeft {
    display: flex;
    align-items: center;
  }
  .faqLeft h3 {
    text-align: left;
  }
  .faqLeft img {
    margin-right: 10px;
    height: 35px;
    width: 31px;
  }

  .testimonialsCounts {
    flex-direction: column;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.09em;
    color: #000000;
    align-items: center;
  }

  .testimonialsCounts div {
    display: flex;
    align-items: center;
  }
}
